@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Belarus, Minsk <br />
    <abbr title="Phone">Phone:</abbr>
    +375295782233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:verag0lik0va22@gmail.com">verag0lik0va22@gmail.com</a><br />
</address>